/* Estilos para o Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo */
.navbar-logo .logo {
  height: 50px;
}

/* Links de Navegação */
.navbar-menu a {
  text-decoration: none;
  color: #1a1c1f;
  font-size: 18px;
  margin-left: 20px;
}

.navbar-menu a.active {
  font-weight: bold;
  border-bottom: 2px solid #007bff;
}
